header {
    height: 150px;
    width: 80%;
    margin: 50px;
    font-size: 20px;
    text-align: center;
    backgound-color: teal;
}

.underScore {
    border: 2px solid black;
    height: 150px;
    width: 80%;
    margin: 50px;
    font-size: 50px;
    text-align: center;
}

.rightGuess {
    border: 2px solid black;
    height: 150px;
    width: 80%;
    margin: 50px;
    font-size: 20px;
    text-align: center;
}

.wrongGuess {
    border: 2px solid black;
    height: 150px;
    width: 80%;
    margin: 50px;
    font-size: 20px;
    text-align: center;
}